
body{
    margin: 0 auto;
    width: 30%;
    height: 40%;
}

.div-form{
    border-style: inset;
    border-width: 1px;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.label{
    display: block;
    padding-bottom: 50px;
    color: rgb(30, 47, 95);

}