{{ define "content" }}
<head>
    <title>CareFirst</title>
    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
<table>
    <tr>
        <td>
            <img src="assets/img/products/oral/" alt="dental floss">
            <p>Dental Floss</p>
        </td>
        <td>
            <img src="assets/img/products/diabetes/glic.jpg" alt="Glic">
            <p>Gliclazide, 80mg</p>
        </td>
        <td>
            <img src="assets/img/products/eye drops/systaneye.jpg" alt="Systane">
            <p>Systane, dry eye therapy, 15ml </p>
        </td>
    </tr>
</table>


{{ end }}