{{ define "footer" }}
<hr>
<head>
  <link rel="stylesheet" href="/assets/css/footer.css" type="text/css">
</head>
    <footer class="page-footer font-small blue" style="background-color: rgba(69, 69, 243, 0.712);">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="/"> CareFirst</a>
          All Rights Reserved.
          <div>
            <a href="/login" >Log In</a>
          </div>
        </div>
        
        <!-- Copyright -->
      
      </footer>
    <script src="../assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>
{{ end }}