body {
    margin: 0 auto;
}

img{
    float: left;
    margin-left: 50px;
    margin-right: 150px;
}

form{
    display: inline;
}

ul li a{
    margin-right: 50px;
    color: rgb(28, 28, 138);
}

nav {
    background-color: white;
}
