{{define "about"}}
<h1>About Us</h1>
<p>CareFirst

    Everyone merits great wellbeing and at CareFirst , your wellbeing and prosperity is our need. We have thought about the network with an extreme vision of making a more advantageous country, one part at any given moment.</p>
    <p>
        CareFirst is a common association where benefits made through activities are come back to individuals as advantages. We pride ourselves on giving amazing client administration and expert exhortation, alongside a wide scope of items and administrations.
    </p>
{{end}}