<!DOCTYPE html>
<html>
    <head>
        <title>CareFirst</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
    </head>
    <body>
        <h2> Admin Log in</h2>
        <div class="div-form">
        <form method="POST"  action="/auth" autocomplete="off">
            <label class="label">Username
                <input type="text" placeholder="Enter username..." name="user" ></label> 
            <label class="label"> Password
                <input type="password" placeholder="Enter password..." name="pass"></label>
            <input type="submit" value="Log In">
            </form>
        </div>
    </body>
</html>